@mixin icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.icon {
  &-angle {
    @include icon;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  &-kakao {
    @include icon;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  &-insta {
    @include icon;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  &-youtube {
    @include icon;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  &-git {
    @include icon;
    svg {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  &-heart {
    @include icon;
    svg {
      width: 3.5rem;
      height: 3.5rem;
      color: crimson;
    }
  }
}
