html {
  color: $color-font;
  background-color: $color-bg;
  font: {
    size: 62.5%;
    weight: 400;
    family: 'Pretendard', sans-serif;
  }
}

body {
  font-size: 1.5rem;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media all and (max-width: 500px) {
  html {
    font-size: 59.5%;
  }
}
